/*----------------------------------------------
 * Body
 *--------------------------------------------*/
body {
	background-color: #46202E;
}
/*----------------------------------------------
 * Headers
 *--------------------------------------------*/

/*----------------------------------------------
 * Links
 *--------------------------------------------*/

/*----------------------------------------------
 * Lists
 *--------------------------------------------*/
ul#circles {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

ul#circles li {
	display: none;
	position: absolute;
	background: #F66;
	font-size: 14px;

	-webkit-border-radius: 50%;
	border-radius: 50%;
}

ul#circles li span {
	position: absolute;
	color: #000;
	opacity: .15;
	font-family: "ProximaNovaRgBold", Helvetica, Arial, sans-serif;
}

/*----------------------------------------------
 * Navigation
 *--------------------------------------------*/
