/*----------------------------------------------
 * Body
 *--------------------------------------------*/
body {
	background-color: #46202E;
}
/*----------------------------------------------
 * Headers
 *--------------------------------------------*/

/*----------------------------------------------
 * Links
 *--------------------------------------------*/

/*----------------------------------------------
 * Lists
 *--------------------------------------------*/
ul#circles {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

ul#circles li {
	display: none;
	position: absolute;
	overflow: none;
	background: #F66 url("../images/icon-plus.png") no-repeat center center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

ul#circles li p {
	padding: 0;
	margin: 0;
	font-size: 48px;
	position: absolute;
	text-align: center;
	display: none;
	color: #46202E;
	opacity: 0;
	font-family: "ProximaNovaRgBold", Helvetica, Arial, sans-serif;
}
/*----------------------------------------------
 * Navigation
 *--------------------------------------------*/
